.qmake.stash
Makefile
*.o
moc_*.cpp
moc_*.h
ui_colladadialog.h
libv_repExtCollada.1.0.0.dylib
libv_repExtCollada.1.0.dylib
libv_repExtCollada.1.dylib
libv_repExtCollada.dylib
libv_repExtCollada.so
libv_repExtCollada.so.1
libv_repExtCollada.so.1.0
libv_repExtCollada.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
