.qmake.stash
Makefile
*.o
moc_*.cpp
moc_*.h
ui_colladadialog.h
libsimExtCollada.1.0.0.dylib
libsimExtCollada.1.0.dylib
libsimExtCollada.1.dylib
libsimExtCollada.dylib
libsimExtCollada.so
libsimExtCollada.so.1
libsimExtCollada.so.1.0
libsimExtCollada.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
mocinclude.opt
*.pro.user
